/* CSS for index.html AC Sign Up Form */
:root{
    --bgCol: transparent;
    /* --aqua: rgb(48, 168, 134); */
    --lightAqua: rgb(117, 223, 200);
    --lightTan: #fdfae2;
    --medTan: #eee5c1;
    --darkTan: #887965;
}

@font-face{ 
    font-family: Humming;
    src:url("/nintendoP_Humming-E_002pr.otf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
     background: no-repeat center/100% url("/EROevBcUwAETheK.jpg") ;
     background-size: cover;
     height: 100vh;
     display: grid;
     grid-template-columns: 20px repeat(4, 1fr) 20px;
     grid-template-rows: 20px 0.5fr repeat(3, 1fr) 20px;

     font-family: "Humming", sans-serif;
     letter-spacing: 0.5px;
     color: var(--darkTan);
}

.banner{
    background-color: RGBa(48, 168, 134, 0.8);
    border-top: 2px dashed white;
    border-bottom: 2px dashed white;
    outline: 5px solid RGBa(48, 168, 134, 0.8);
    width: 100vw;
    height: 40px;
    position: relative;
    top: 20px;
    display:flex;
    justify-content: center;
    color: RGB(230, 253, 232);
    overflow: hidden;
}

.clip_circle{
    grid-area: 2/5;
    margin-left: -30px;
    margin-bottom: 5px;
    align-self: end;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 15px ridge rgb(215, 212, 212);
    background: transparent; 
}

.clip_rectangle{
    grid-area: 3/5;
    margin-left: -90px;
    margin-top: -20px;
    z-index: 2;
    width: 180px;
    height: 55px;
    border: 15px ridge rgb(215, 212, 212);
    border-radius: 5px;
    background: transparent;
}

 .clipboard{
     grid-area: 3/ 4/ 6/ 6;
     background-color:rgb(154, 119, 74);
     border-radius: 30px;
     background:  url("/clipboardtexture.jpeg");
     background-size: cover;
     background-position: center ;
     margin: 0px 30px;
     border: 1px solid RGB(210, 167, 129);
     border-right: 7px solid rgb(196, 156, 120);
     border-bottom: 7px solid rgb(190, 150, 115);
     display: grid;
    min-width: 451px;
               }
.clipboard_paper{
    background: rgb(250, 244, 237);
    margin: 20px 30px 20px 30px;
    border-radius: 2px;
}

form {
    margin: 20px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form_row{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3px;
}

.form_row > input, .form_row > select, .form_row {
    flex: 1;
}

input, select{
    border-radius:10px;
    height: 30px;
    line-height: 1.6;
    border: 2px solid var(--darkTan);
    background: rgb(250, 244, 237);
    padding-left: 5px;
    margin-left: 10px;
}

input:focus, select:focus-visible{
    box-shadow: 0 0 5px rgb(154, 119, 74);   
    outline-color: var(--lightAqua);
}

.valid{
    border: solid 2px rgb(63, 144, 77);
}
.invalid{
    border: solid 2px rgb(173, 64, 52);
}

.div_titles{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

select {
    flex: 2;
    margin: 0 0 0 10px;
}

label{
    margin-right: 5px;
    width: 55px;
}

fieldset{
    display: grid; 
    grid-template-columns: 1fr 1fr;     
}

fieldset > label{
    width: auto;
}

.gridspan2{
    grid-column: 1 / 3;
}

legend {
    padding: 0px 10px;
    margin-left: 10px;
}

input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    box-shadow: none;
    margin-right: 10px;
    accent-color: var(--lightAqua);
  }

.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
 }

.validation {
    height: 30px;
    width: 30px;
    margin-left: 5px;
}

input[type="image"]{
    height: 80px;
    border: hidden;
    box-shadow: none;
}

.div_button{
    display:flex;
    justify-content: space-around;
                /* margin-top: -40px; */
}

.moving_text:hover{
    animation-play-state: paused;
}

@keyframes marquee{
    0%{transform: translateX(100%);}
    100%{transform: translateX(-100%);}
}

#bubblegum, #peach{
    width: 80px;
    height: auto;
    cursor: pointer;
}

#bubblegum{
    width: 80px;
    height: 80px;
}

/* media query to enable animation for only those who want it */
@media (prefers-reduced-motion: no-preference) {
    .moving_text{
        display: block;
        width: 100%;
        animation: marquee 30s linear infinite;
    }
}